<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather App</title>
    <link type="text/css" href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="main-content">  
      {{>header}}
      <p>{{message}}</p>
      <p>Created by {{name}}</p>
    </div>
    {{>footer}}
  </body>
</html>